---
layout: default
title: Home
---

<div class="posts">

  {% for post in paginator.posts %}
  <article class="post">
    <!-- Date of the post -->
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%b %d, %Y" }}</time>

    <!-- Post title -->
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <!-- Post image -->
    {% if post.image %}
    <img class="post-thumbnail" src="{{ post.image }}" alt="{{ post.title }}" />
    {% endif %}

    <!-- Show an excerpt from the article -->
    <div class="excerpt-fadeout">
      {{ post.excerpt }}
    </div>

    <!-- Read more link -->
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Continue reading</a>

  </article>
  {% endfor %}

</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
